$("#delivery_address-list").html("<%= escape_javascript(render 'address-list', delivery_addresses: @delivery_addresses) %>");
$("#delivery_post_code__input").val('');
$("#delivery_address__input").val('');
$("#delivery_name__input").val('');
$("#success-message").html("<div class=\"alert error-message\" role=\"alert\">配送先の登録に成功しました。</div>");