$("#cart_products_table").html("<%= j(render 'customer/cart_products/cart_products_table', cart_products: @cart_products) %>");
$("#success-message").html("<div class=\"alert error-message\" role=\"alert\">カートの商品を全て削除しました</div>");