<div class="container-fluid p-5">
  <div id="success-message"></div>
  <div class='row'>
    <div class='col-3'>
      <h4 class='text-center'>ショッピングカート</h4>
    </div>
    <div class='col-3 offset-5'>
      <%= link_to cart_products_empty_path, method: :delete, remote: true do %>
        <button type="button" class="c-cart-products-index-button">カートを空にする</button>
      <% end %>
    </div>
  </div>
  <%# 商品一覧テーブル & "買い物を続ける"ボタン & 合計金額 %>
  <div id='cart_products_table'>
    <%= render 'customer/cart_products/cart_products_table', cart_products: @cart_products %>
  </div>
  <div class='row mt-3'>
    <div class='col-12'>
      <div class='text-center'>
        <a class="c-cart-products-index-button" href="/orders/new" role="button">情報入力に進む</a>
      </div>
    </div>
  </div>
</div>