// Place all the styles related to the customer::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ
.main-visual {
  background-image: image-url("sample_top.jpg");
  background-size: cover;
  height: 400px;
  background-position: center;
}

.main-visual:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7); /*半透明のフィルターをかける*/
}

.main-visual-content {
  text-align:center;
  position: absolute;
  top: 200px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.main-visual-content h1 {
  font-family: "Libre Baskerville";
  font-size: 40px;
}

.favorite-title {
  padding: 30px 10px;
  font-size: 24px;
  text-align: center;
}

.favorite-title-inner {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.favorite-title-inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: #c8a06b;
  transform: translateX(-50%);
}

.favorite-item {
  margin-bottom: 16px;
}

.favorite-item-name {
  padding: 4px;
}

.favorite-item-price-text {
  color: #c8a06b;
}

.favorite-item-price {
  padding: 4px;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
}

.favorite-continue-btn-wrapper {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}

.favorite-continue-btn {
  border: solid 2px #c8a06b;
  color: #c8a06b;
  display: inline-block;
  padding: 8px 12px;
  width: 200px;
  text-align: center;
}

.favorite-continue-btn:hover {
  color: #fff;
  background-color: #c8a06b;
}

// Aboutページ
.about-page-container {
  padding: 40px 0;
}

.about-title {
  text-align: center;
}

.about-title-text {
  font-size: 32px;
  font-weight: 400;
}

.about-explanation {
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}