<div class="favorite">
  <div class="favorite-title">おすすめ商品</div>
  <div class="favorite-items">

    <ul style="list-style: none;">
      <li>
        <div class="card">
          <%= image_tag 'sample_cake.png', :size =>'150x150' %>
          <p class="card-text">フルーツケーキ</br>¥1500</p>
        </div>
      </li>

      <li>
        <div class="card">
          <%= image_tag 'sample_madrenu.png', :size =>'150x150' %>
          <p class="card-text">マドレーヌ</br>¥1500</p>
        </div>
      </li>


      <li>
        <div class="card">
          <%= image_tag 'sample_rollcake.png', :size =>'150x150' %>
          <p class="card-text">ロールケーキ</br>¥1500</p>
        </div>
      </li>

      <li>
        <div class="card">
          <%= image_tag 'sample_monbran.png', :size =>'150x150' %>
          <p class="card-text">モンブラン</br>¥1500</p>
        </div>
      </li>
    </ul>

  </div>
</div>