<div class="genre-search-navi-wrapper">
  <div class="genre-search-navi-title">
    <span>ジャンル検索</span>
  </div>
  <a href="#" class="genre-search-navi-list">ケーキ</a>
  <a href="#" class="genre-search-navi-list">焼き菓子</a>
  <a href="#" class="genre-search-navi-list">プリン</a>
  <a href="#" class="genre-search-navi-list">キャンディ</a>
</div>