<<<<<<< HEAD
<div class="genre-search-navi-wrapper">
  <div class="genre-search-navi-title">
    <span>ジャンル検索</span>
  </div>
  <a href="#" class="genre-search-navi-list">ケーキ</a>
  <a href="#" class="genre-search-navi-list">焼き菓子</a>
  <a href="#" class="genre-search-navi-list">プリン</a>
  <a href="#" class="genre-search-navi-list">キャンディ</a>
</div>
=======
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-danger">ジャンル検索</button>
  <button type="button" class="list-group-item list-group-item-action">ケーキ</button>
  <button type="button" class="list-group-item list-group-item-action">焼き菓子</button>
  <button type="button" class="list-group-item list-group-item-action">プリン</button>
  <button type="button" class="list-group-item list-group-item-action">キャンディ</button>
</div>
>>>>>>> 40470dd0349fad2069227988b57731e4ac742ee2
