<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto c-homes-about-page-container">
      <div class="c-homes-about-title">
        <span class="c-homes-about-title-text">ご家庭で宝石のようなスイーツを</span>
      </div>
      <%= image_tag 'sample_about.JPG', class: "img-fluid mt-5" %>
      <div class="c-homes-about-explanation">
        <span>
        ながのCakeは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
        </span>
      </div>
    </div>
  </div>
</div>