<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-3">

      <h1>ご家庭で宝石のようなスイーツを・・・</h1>
      <h5>ながのCakeは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。</h5>
    <%= image_tag 'sample_about.JPG', :size =>'500x300' %>


    </div>
  </div>

</div>