<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0 genre-search-section">
      <!-- ジャンル検索 -->
      <%= render 'customer/homes/genre-search' %>
    </div>
    <div class="col-md-10 px-0">
      <div class="main-visual">
        <div class="main-visual-content">
          <h1 class="main-visual-text">Welcome to NaganoCake</h1>
          <h1 class="main-visual-text">Gemlike sweets at home</h1>
        </div>
      </div>
      <div class="col-md-12 my-5">
        <%= render 'favorite-item' %>
      </div>
    </div>
  </div>
</div>
