<div class="container">
  <div class='row-mt-3'>
    <div class='col-md-12'>
      <div class="c-order-thanks">
        <div class="c-order-thanks-title">
          <h4>ご購入ありがとうございます</h4>
        </div>
        

        <div class="c-order-thanks-title-sav">
          <h5>この度は、数あるショップの中から当店をお選びいただき </br>
            誠にありがとうございました。</br>
            変わらぬおいしさを皆様に味わっていただくため</br>
            丹精込めて製造いたします。</br>
            発送まで今しばらくお待ちくだいませ。
          </h5>
        </div>

      </div>
    </div>
  </div>
</div>