$("#add_genre").html("<%= escape_javascript(render 'admin/genres/genre_table', new_genre: @new_genre, genres: @genres) %>");
$("#success-message").html("<div class=\"alert error-message\" role=\"alert\">ジャンルの登録に成功しました。</div>");
