
<div class="container p-5">
  <div id="success-message"></div>
  <div class="row">
    <div class="col-lg-12">
      <h3>ジャンル一覧・追加</h3>
    </div>
  </div>
  <%# ジャンル追加フォーム & ジャンル一覧テーブル  %>
  <div id="add_genre", >
    <%= render 'admin/genres/genre_table',new_genre: @new_genre, genres: @genres %>
  </div>
</div>