

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <div class="container">
    <div class="row mt-5 ml-5">
      <h4>管理者ログイン<h4>
    </div>

    <div class="row">
      <div class="col-lg-6 mx-auto mt-5">
        <table class="table table-borderless">
          <tr>
            <td class=""><label for="mail_address__input">メールアドレス</label></td>
            <td><%= f.email_field :email, autofocus: true, id: "mail_address__input", class: "form-control" %></td>
          </tr>
          <tr>
            <td><label for="password__input">パスワード</label></td>
            <td><%= f.password_field :password, autofocus: true, id: "password__input", class: "form-control" %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center mt-4">
        <%= f.submit "ログイン", class: "c-sessions-button w-25" %>
      </div>
    </div>
  </div>
<% end %>
