<footer class='bg-secondary'>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto text-white'>
        <p>Mitarashi yakiniku.inc</p>
      </div>
    </div>
  </div>
</footer>

