
<footer>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul>
          <li>みたらしやきにくについて</li>
          <li>商品一覧</li>
          <li>よくあるご質問</li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li>配送方法・送料</li>
          <li>お支払い方法</li>
          <li>特定商取引に基づく表記</li>
          <li>お問い合わせ</li>
          <li>プライバシーポリシー</li>
        </ul>
      </div>
      <div class="col-4">
        <%= image_tag 'header_logo.png', size: '180x60' %>
      </div>
  </div>
  <div class="commercial-rights">
    <small>&copy; Mitarashi yakiniku All Rights Reserved.</small>
  </div>
</footer>

