<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

         <a class="navbar-brand" href="/"><span>Nagano cake</span></a>

        <ul class="navbar-nav ml-auto">
          <li class='nav-link text-light'>About</li>
          <li class='nav-link text-light'>商品一覧</li>
          <li class='nav-link text-light'>新規登録</li>
          <li class='nav-link text-light'>ログイン</li>
        </ul>
    </div>
  </nav>
</header>